<form
  novalidate
  (ngSubmit)="save()"
  [formGroup]="employeeForm"
  disabled="true"
  class="flex-center"
>
  <div class="form-container">
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
      <mat-error *ngIf="employeeForm.get('firstName')?.hasError('required')"
        >Required value</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
      <mat-error *ngIf="employeeForm.get('lastName')?.hasError('required')"
        >Required value</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input
        matInput
        formControlName="phone"
        pattern="^\+(?:[0-9]\x20?){6,14}[0-9]"
      />
      <mat-hint>Including country code</mat-hint>
      <mat-error *ngIf="employeeForm.get('phone')?.invalid">{{
        phoneErrorMessage
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Birth date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="birthDate"
        [max]="today"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="employeeForm.get('birthDate')?.invalid">{{
        dateErrorMessage
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Office</mat-label>
      <mat-select matInput formControlName="officeId">
        <mat-option *ngFor="let office of offices" [value]="office.id">
          {{ office.country }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="employeeForm.get('officeId')?.hasError('required')"
        >Required value</mat-error
      >
    </mat-form-field>

    <em-employee-tags
      [tags]="employeeForm.get('tags')?.value || []"
      (tagListEvent)="tagEventHandler($event)"
    ></em-employee-tags>

    <div class="flex-center">
      <button mat-flat-button color="secondary" [routerLink]="['/employees']">
        Cancel
      </button>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="!employeeForm.valid || employeeForm.pristine"
      >
        Save
      </button>
    </div>
  </div>
</form>
